.auth-container {
  min-height: 100vh;
  display: flex;
}

.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 60px;
}

.brand {
  max-width: 420px;
}

.brand-logo {
  width: 70px;
  height: 70px;

  background: white;

  color: #2563eb;

  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: bold;

  margin-bottom: 25px;
}

.brand h1 {
  font-size: 3rem;

  margin-bottom: 20px;
}

.brand p {
  font-size: 1.15rem;

  line-height: 1.8;

  opacity: 0.95;
}

.auth-right {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;

  background: #f5f7fb;
}

@media (max-width: 900px) {
  .auth-left {
    display: none;
  }

  .auth-right {
    flex: 1;
  }
}
